/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  font-family: 'Segoe UI', sans-serif;
}

.App.light {
  background: linear-gradient(
    to bottom right,
    #dbeafe 0%,
    #fef3c7 50%,
    #fff8e1 100%
  );
  color: #1a1a1a;

}



.cta-light {
  background-color: rgba(255, 255, 255, 0.2);
  color: #2c2c2c;
  border: 1px solid #2c2c2c;
}


.App.dark {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: white;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  animation: shoot 2s linear infinite;
  opacity: 0.8;
}

@keyframes shoot {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(300px, -300px);
    opacity: 0;
  }
}


.static-star {
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  border-radius: 50%;
}

.fade-in {
  opacity: 0.4;
}

.fade-out {
  opacity: 0;
}


.navbar-light {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  color: #1a1a1a;
}
